.divEditUser {
  margin-top: 30px;
}

.divBtnsEditUser {
  margin: 90px 0 100px 0;
}

.btnEditUser {
  margin-right: 15px;
}

.errorUserEdit {
  margin-bottom: -50px;
}

.titleUserInfo {
  margin: 30px 0;
  font-size: 40px;
}

.btnCallEditPage {
  margin: 40px 0 80px 0;
}

.titleRatedGames {
  margin-bottom: 40px;
}

.divUserInfo {
  border-radius: 5px;
  border: 2px solid var(--USE, #89347c);
  padding: 25px 100px 25px 25px;
}

.pUserInfo{
    margin-bottom: 5px;
}
