* {
    margin: 0;
    padding: 0;
}


.main {
    display: flex;
    justify-content: center;       
}

.card {
    margin: 26px;
    width: 400px;
    height: 684px;
    flex-shrink: 0;
    
    
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.76);
    
    background: linear-gradient(287deg, #CD0877 -2%, #0D7DF9 102.23%);

    padding: 0;
    
    
}

.card>img {
    width: 100%;
    
    
    top: 4px;
    
}

.card>h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 10px;
    
  
    
    
    

}

.card>h2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 10px;
    padding-bottom: 5px;
  
    
    
}

.card>h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
    
   
    
    
    
}

.card>p {
    color: #FFF;

    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 8.5px;
    
    text-align: justify;
  
    
}

.fa-solid {
    color: #FFF;
    padding-left: 55%;
    font-size: 11px;

}
