option {
  background-color: black;
  color: white;
}

.inputNewGame {
  width: 800px;
}

.inputDescription {
  height: 115px;
}

button.insertNewGame {
  margin-top: 100px;
  margin-bottom: 130px;
}

.errorNewGame {
  margin-bottom: -50px;
}

.deleteGame {
  margin-top: 30px;
  margin-bottom: 80px;
}

.deleteGame > form {
  width: 800px;
  display: inline;
}

.btnDeleteGame {
  margin-left: 15px;
}

.inputDeleteGame {
  width: 610px;
}